  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
  }

main {
  height: 100%;
  border-radius: 10px;
}

@media only screen and (min-width: 600px){
  main {
    background-color: white; 
    max-height: 40%;
    padding: 50px;
  }
}



h1 {
  color: #5353f1;
}

h1, p {
  text-align: center;
}

.input--container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

@media only screen and (min-width: 600px){
  .input--container {
    gap: 25px;
  }
}

.inputField--style {
  height: 85px;
  width: 75px;
  background-color: #f6f7ff;
  font-size: xxx-large;
  text-align: center;
  font-weight: bold;
  color: #5353f1;
  border-radius: 10px;
  border: 1px solid rgb(221 221 221);
  font-family: 'Noto Sans JP', sans-serif;
}

.verficiation__button--container {
  display: flex;
  justify-content: center;
}

.verfication__button--style {
  height: 60px;
    width: 90%;
    margin-top: 40px;
    border-radius: 10px;
    /*background-color: #ae7bf3;*/
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(185,117,231,1) 50%, rgba(131,58,180,1) 100%);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid #ae7bf3;
}

.custom-family-font {
  font-family: 'Noto Sans JP', sans-serif;
}