.App {

}

main {
  height: 100%;
}

h1 {
  color: #5353f1;
}

h1, p {
  text-align: center;
}

.input--container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

@media only screen and (min-width: 600px){
  .input--container {
    gap: 25px;
  }
}

.inputField--style {
  height: 85px;
  width: 75px;
  background-color: #f6f7ff;
  font-size: xxx-large;
  text-align: center;
  font-weight: bold;
  color: #5353f1;
  border-radius: 10px;
  border: 1px solid rgb(221 221 221);;
}

.verficiation__button--container {
  display: flex;
  justify-content: center;
}

.verfication__button--style {
  height: 60px;
    width: 90%;
    margin-top: 40px;
    border-radius: 10px;
}